@use "variables";
@use "mixins";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // 135deg = Ángulo diagonal (de arriba-izquierda a abajo-derecha)
  background: linear-gradient(
    135deg,
    variables.$color-fondo-claro 0%,
    variables.$color-fondo 100%
  );
  font-family: variables.$fuente-principal;
  min-height: 100vh; //Que ocupe al menos el 100Ç% de la altura de la pantalla, así pueo centrar el contenido verticalmente
}
  .contenedor-login {
    background-color: variables.$color-blanco;
    padding: variables.$espaciado-xlarge; // 40px arriba, 40px abajo, 40px izq, 40px der
    border-radius: variables.$border-radius-grande;
    box-shadow: 0 2px 8px variables.$color-sombra;
    max-width: 450px;
    width: 100%;
    text-align: center;
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

    h2 {
      color: variables.$color-primario;
      font-family: variables.$fuente-titulos;
      font-size: 32px;
      margin-bottom: variables.$espaciado-medio; //16px
      margin-top: 0;
    }

    .sustitulo {
      color: variables.$color-texto-claro;
      font-size: 16px;
      margin-bottom: variables.$espaciado-grande; // 24px
      margin-top: 0;
    }

    #formularioLogin {
      display: flex;
      flex-direction: column;
      gap: variables.$espaciado-medio; // 16px entre cada .campo y el botón

      .campo {
        text-align: left;
        label {
          display: block;
          color: variables.$color-texto;
          font-weight: bold;
          margin-bottom: variables.$espaciado-pequeno;
          font-size: 14px;
        }
        input {
          width: 100%;
          padding: 12px;
          border: 2px solid #e0e0e0;
          border-radius: variables.$border-radius;
          font-size: 16px;
          font-family: inherit; //Hereda la fuente del padre
          transition: border-color 0.3s ease;
          //Cuando se hace click
          &:focus {
            //Elimina el borde azul por defecto del navegador
            outline: none;
            border-color: variables.$color-primario;

            &::placeholder {
              color: #bdbdbd;
              font-style: italic;
            }
          }
        }
    }
          .btn-iniciar-sesion {
            @include mixins.boton-base;
            background-color: variables.$color-primario;
            color: variables.$color-blanco;
            margin-top: variables.$espaciado-pequeno; // 8px
            width: 100%;

            &:hover {
              background-color:variables.$color-primario-hover;
            }
            &:active {
              transform: scale(0.98);
            }
          }
      }
    }
body:has(.contenedor-login) {
  background: linear-gradient(
    135deg,
    variables.$color-fondo-claro 0%,
    variables.$color-fondo 100%
  );
  min-height: 100vh;
  position: relative;
}