@use "variables";
@use "mixins";
@use 'login'; 
@use 'dashboard';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$fuente-principal;
    color: variables.$color-texto;
    margin: 0;
    padding: 0;
}
